<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
lang="en-GB" xml:lang="en-GB"> 

<!-- HEAD -->
<head>
    <title>Where's Ya Boi</title>
    <meta charset="UTF-8"/>
    <meta name='viewport'
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/game-styles.css" />
    <!-- html{scroll-behaviour: smooth;} -->
</head>

<body>
    <div class='page'>

        <canvas id="game-canvas" width="480" height="320">

        </canvas>
  
    </div>

    <script src="javascripts/game.js"></script>
</body>

</html>