<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
lang="en-GB" xml:lang="en-GB"> 

<!-- HEAD -->
<head>
    <title>Where's Ya Boi</title>
    <meta charset="UTF-8"/>
    <meta name='viewport'
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/signup-login-styles.css" />
    <!-- html{scroll-behaviour: smooth;} -->
</head>

<body>
    <div class='page'>

        <!-- HEADER -->
        <!-- MOBILE-HEADER -->
        <div class='mobile-header-container'>
            <div class ='mobile-header'>
                <img src='images/header.svg'/>
            </div>
        </div>

        <!-- TABLET/DESKTOP HEADER -->
        <div class='header-container'>
            <div class ='header'>
                <!-- Logo image -->
                <div class='header-image'>
                    <a href='/'>
                        <img src='images/header.svg'/>
                    </a>
                </div>
                
                <!-- Menu -->
                <div class='menu-container'>
                    <a> <!--href='#about'>-->
                        <div class='menu-item' id = "about-button">
                            <h4>About</h4>
                        </div>
                    </a>
                    <a>
                        <div class='menu-item' id='recents-button'>
                            <h4>Recents</h4>
                        </div>
                    </a>
                    <a href='/all-locations.html'>
                        <div class='menu-item'>
                            <h4>All Locations</h4>
                        </div>
                    </a>
                    <a>
                        <div class='menu-item' id='map-button'>
                            <h4>Map</h4>
                        </div>
                    </a>
                    <a href='/tokyo.html.html'>
                        <div class='menu-item'>
                            <h4>Social Media</h4>
                        </div>
                    </a>
                </div>

                <!-- Hamburger -->
                <div class='hamburger-container'>
                    <div class='hamburger'>
                        <!-- Icon -->
                        <div class='hamburger-icon-container'>
                            <div class='hamburger-bar1'></div>
                            <div class='hamburger-bar2'></div>
                            <div class='hamburger-bar3'></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- MENU -->
        <!-- MOBILE MENU -->
        <div class='mobile-menu-container' id='mobile-menu-container'>
            <div class='mobile-menu'>
                <a href='#about'>
                    <div class='mobile-menu-item'>
                        <h4>About</h4>
                    </div>
                </a>
                <a href='#recents'>
                    <div class='mobile-menu-item'>
                        <h4>Recents</h4>
                    </div>
                </a>
                <a href='/all-locations.html'>
                    <div class='mobile-menu-item'>
                        <h4>All Locations</h4>
                    </div>
                </a>
                <a href=''>
                    <div class='mobile-menu-item'>
                        <h4>Social Media</h4>
                    </div>
                </a>
            </div>
        </div>


        <div class = 'signup-login-container'>
            <div class='signup-container' id='signup-container'>
                <div class='signup'>
                    <div class='signup-form-container'>
                        <div class='signup-form-title'>
                            <h1>Sign Up</h1>
                        </div>
                        <div class='signup-form'>
                            <form action="/signup-login.html?submit-signup" target="_Self" method="post">
                                <div class="signup-form-name">
                                    <h3>name</h3>
                                    <input type="text" name="name"/>
                                </div>
                                <div class="signup-form-email">
                                    <h3>email</h3>
                                    <input type="text" name="email"/>
                                </div>
                                <div class="signup-form-password">
                                    <h3>password</h3>
                                    <input type="text" name="password"/>
                                </div>
                                <div class='signup-form-submit'>
                                    <input type="submit" value="Sign Up"/>
                                </div>
                                <div class='signup-form-error'>
                                    <h3> <%= signuperrormessage %></h3>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class='login-container' id='login-container'>
                <div class='login'>
                    <div class='login-form-container'>
                        <div class='login-form-title'>
                            <h1>Log In</h1>
                        </div>
                        <div class='login-form'>
                            <form action="/login-login.html?submit-login" target="_Self" method="post">
                                <div class="login-form-email">
                                    <h3>email</h3>
                                    <input type="text" name="email"/>
                                </div>
                                <div class="login-form-password">
                                    <h3>password</h3>
                                    <input type="text" name="password"/>
                                </div>
                                <div class='login-form-submit'>
                                    <input type="submit" value="Log In"/>
                                </div>
                                <div class='login-form-error'>
                                    <h3> <%= loginerrormessage %></h3>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class='footer-container' id="footer">
            <div class='footer'>
                <div class='footer-item'>
                    <h2>Contact info</h2>
                    <p>Email: email@email.com</p>
                    <p>Phone: 12345678</p>
                    <p>Fax: 12345678</p>
                </div>
            </div>
        </div>

    </div>
    

</body>

</html>