doctype html
html.
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
    lang="en-GB" xml:lang="en-GB"> 

    <!-- ALL PORTRAIT IMAGES SHOULD BE 4 ACROSS, 5 DOWN -->

    <!-- HEAD -->
    <head>
        <title>Where's Ya Boi</title>
        <meta charset="UTF-8"/>
        <meta name='viewport'
            content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
        <link rel="stylesheet" href="stylesheets/location-styles.css" />
    </head>

    <body>
        <div class='page'>
            <!-- HEADER -->
            <!-- MOBILE-HEADER -->
            <div class='mobile-header-container'>
                <div class ='mobile-header'>
                    <img src='images/header.svg'/>
                </div>
            </div>

            <!-- TABLET/DESKTOP HEADER -->
            <div class='header-container'>
                <div class ='header'>
                    <!-- Logo image -->
                    <div class='header-image'>
                        <a href='/'>
                            <img src='images/header.svg'/>
                        </a>
                    </div>
                    
                    <!-- Menu -->
                    <div class='menu-container'>
                        <a href='/#about'>
                            <div class='menu-item'>
                                <h4>About</h4>
                            </div>
                        </a>
                        <a href='/#recents'>
                            <div class='menu-item'>
                                <h4>Recents</h4>
                            </div>
                        </a>
                        <a href='/all-locations'>
                            <div class='menu-item'>
                                <h4>All Locations</h4>
                            </div>
                        </a>
                        <a href='/#map'>
                            <div class='menu-item'>
                                <h4>Map</h4>
                            </div>
                        </a>
                        <a href='tokyo'>
                            <div class='menu-item'>
                                <h4>Social Media</h4>
                            </div>
                        </a>
                    </div>

                    <!-- Hamburger -->
                    <div class='hamburger-container'>
                        <div class='hamburger'>
                            <!-- Icon -->
                            <div class='hamburger-icon-container'>
                                <div class='hamburger-bar1'></div>
                                <div class='hamburger-bar2'></div>
                                <div class='hamburger-bar3'></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- MENU -->
            <!-- MOBILE MENU -->
            <div class='mobile-menu-container' id='mobile-menu-container'>
                <div class='mobile-menu'>
                    <a href='/#about'>
                        <div class='mobile-menu-item'>
                            <h4>About</h4>
                        </div>
                    </a>
                    <a href='/#recents'>
                        <div class='mobile-menu-item'>
                            <h4>Recents</h4>
                        </div>
                    </a>
                    <a href='/all-locations'>
                        <div class='mobile-menu-item'>
                            <h4>All Locations</h4>
                        </div>
                    </a>
                    <a href=''>
                        <div class='mobile-menu-item'>
                            <h4>Social Media</h4>
                        </div>
                    </a>
                </div>
            </div>

            <!-- HERO PHOTO -->
            <!-- MOBILE HERO PHOTO -->
            <div class='mobile-hero-photo-container'>
                <div class='mobile-hero-photo'>
                    <img src='images/tokyo-temp.jpg'/>
                    <h1>Tokyo</h1>
                    <h2>ya boi goes to Japan</h2>

                </div>
            </div>

            <!-- DESKTOP/TABLET HERO PHOTO -->



            <!-- MAIN BODY OF TEXT -->
            <!-- Paragraph 1 -->
            <div class='paragraph-container'>
                <div class='paragraph'>
                    <p class='intro-text'>The train journey through the hill country of Sri Lanka which transports you from the second city of Kandy right through to Ella takes just over six hours, but can be broken up to stop along the way, Nuwara Eliya is an ideal place to stop for a few days and explore the local tea plantations.</p>
                </div>
            </div>

            <!-- Paragraph 2 -->
            <div class='paragraph-container'>
                <div class='paragraph'>
                    <p class='main-text'>The train journey through the hill country of Sri Lanka which transports you from the second city of Kandy right through to Ella takes just over six hours, but can be broken up to stop along the way, Nuwara Eliya is an ideal place to stop for a few days and explore the local tea plantations.</p>
                </div>
            </div>

            <!-- Images -->
            <div class='landscape-image-container'>
                <div class='landscape-image'>
                    <img src='images/japan-nikko-bridge.jpg'/>
                    <p class='image-caption'>Beautiful.</p>
                </div>
            </div>

            <!-- Subheading -->
            <div class='paragraph-container'>
                <div class='paragraph'>
                    <p class='subheading-text'>Ya boi is in Shinjuku</p>
                </div>
            </div>
                

            <div class='paragraph-container'>
                <div class='paragraph'>
                    <p class='main-text'>The train journey through the hill country of Sri Lanka which transports you from the second city of Kandy right through to Ella takes just over six hours, but can be broken up to stop along the way, Nuwara Eliya is an ideal place to stop for a few days and explore the local tea plantations.</p>
                </div>
            </div>

            <div class='full-width-image-container'>
                <div class='full-width-image'>
                    <img src='images/japan-temple.jpg'/>
                    <p class='image-caption'>Temple. Beautiful.</p>
                </div>
            </div>

            <div class='double-image-container'>
                <div class='double-image'>
                    <div class='double-image-grid'>
                        <div class='double-image-item'>
                            <img src='images/Varanasi-Sunrise.jpg'/>
                        </div>
                        <div class='double-image-item'>
                            <img src='images/Varanasi-Sunrise-boat-trip.jpg'/>
                        </div>
                        <!-- <p class='image-caption'>Wow! Double absolute Tokyo scenes.</p> -->
                    </div>
                </div>
            </div>

            <div class='paragraph-container'>
                <div class='paragraph'>
                    <p class='subheading-text'>Ya boi is in a little-known part of Tokyo</p>
                </div>
            </div>

            <div class='paragraph-container'>
                <div class='paragraph'>
                    <p class='main-text'>The train journey through the hill country of Sri Lanka which transports you from the second city of Kandy right through to Ella takes just over six hours, but can be broken up to stop along the way, Nuwara Eliya is an ideal place to stop for a few days and explore the local tea plantations.</p>
                </div>
            </div>

            <div class='triple-image-container'>
                <div class='triple-image'>
                    <div class='triple-image-grid'>
                        <div class='triple-image-item'>
                            <img src='images/Varanasi-Sunrise.jpg'/>
                        </div>
                        <div class='triple-image-item'>
                            <img src='images/Varanasi-Sunrise-boat-trip.jpg'/>
                        </div>
                        <div class='triple-image-item'>
                            <img src='images/Varanasi-Sunrise-boat-ride.jpg'/>
                        </div>
                        <!-- <p class='image-caption'>Wow! Triple Tokyo scenes.</p> -->
                    </div>
                </div>
            </div>

            <div class='paragraph-container'>
                <div class='paragraph'>
                    <p class='subheading-text'>Collage</p>
                </div>
            </div>

            <div class='paragraph-container' id='bottom-paragraph'>
                <div class='paragraph'>
                    <p class='main-text'>The train journey through the hill country of Sri Lanka which transports you from the second city of Kandy right through to Ella takes just over six hours, but can be broken up to stop along the way, Nuwara Eliya is an ideal place to stop for a few days and explore the local tea plantations.</p>
                </div>
            </div>


            <!-- QUOTE -->
            <div class='quote-container'>
                <div class='quote'>
                    <h1>"It's futile It's futile It's futile It's futile It's futile It's futile It's futile It's futile" - Dan</h1>
                </div>
            </div>

            <!-- COLLAGE -->
            <div class='collage-container'>
                <div class="collage-row"> 
                    <div class="collage-column">
                        <img src="images/Varanasi-Sunrise-boat-ride.jpg"/>
                        <img src="images/Varanasi-Sunrise.jpg"/>
                        <img src="images/cat-square.jpg"/>
                        <!-- <img src="images/header.svg"/> -->
                        <!-- <img src="images/tokyo-garden.jpg"/> -->
                        <!-- <img src="images/social-icons.svg"/> -->
                        <!-- <img src="images/one.svg"/> -->
                    </div>
                    <div class="collage-column">
                        <img src="images/Varanasi-Sunrise-boat-ride.jpg"/>
                        <img src="images/cat-square.jpg"/>
                        <!-- <img src="images/Varanasi-Sunrise.jpg"/> -->
                        
                        <!-- <img src="images/header.svg"/> -->
                        <!-- <img src="images/social-icons.svg"/> -->
                        <img src="images/tokyo-garden.jpg"/>
                        
                        <!-- <img src="images/one.svg"/> -->
                    </div> 
                    <div class="collage-column">
                        <!-- <img src="images/Varanasi-Sunrise-boat-ride.jpg"/> -->
                        <img src="images/Varanasi-Sunrise.jpg"/>
                        <!-- <img src="images/cat-square.jpg"/> -->
                        <img src="images/feature.svg"/>
                        <!-- <img src="images/tokyo-garden.jpg"/> -->
                        <!-- <img src="images/social-icons.svg"/> -->
                        <img src="images/one.svg"/>
                    </div>
                    <div class="collage-column">
                        <img src="images/Varanasi-Sunrise-boat-ride.jpg"/>
                        <img src="images/Varanasi-Sunrise.jpg"/>
                        <img src="images/cat-square.jpg"/>
                        <!-- <img src="images/header.svg"/> -->
                        <!-- <img src="images/tokyo-garden.jpg"/> -->
                        <!-- <img src="images/social-icons.svg"/> -->
                        <!-- <img src="images/one.svg"/> -->
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <div class='footer-container'>
                <div class='footer'>
                    <div class='footer-item'>
                        <h2>Contact info</h2>
                        <p>Email: email@email.com</p>
                        <p>Phone: 12345678</p>
                        <p>Fax: 12345678</p>
                    </div>
                </div>
            </div>

        </div>

        <script src="javascripts/location.js"></script>
    </body>



    </html>