/* Set everything to 0 margin, 0 padding, and use border-boxes for box-sizing */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: "Palatino Linotype"; */
}

.page
{
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */
/* MOBILE-HEADER */
.mobile-header-container
{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

/* .mobile-header
{
    /* width: 100%;
} */

/* TABLET/DESKTOP HEADER */
.header-container
{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80px; */
    padding: 10px;
}

.header
{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

.header-image
{
    width: 100%;
    flex: 1;
    padding-left: 10px;
    align-items: center;
    justify-content: flex-start;
}

.menu-container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 4;
}

.menu-item
{
    padding-left: 20px;
    padding-right: 20px;
}


/* MENU */
.mobile-menu-container
{
    background-color: #F09A9D;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80px; */
}

.mobile-menu
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.mobile-menu-item
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* vertical-align: middle; */
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}


/* HERO PHOTO */
.hero-photo-container
{
    background-color: #F09A9D;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
}

.hero-photo
{
    width: 100%;
    /* margin: 0 auto; */
}

.hero-photo img
{
    /* height: 100px; */
    width: 100%;
    vertical-align: top;
}


/* ABOUT */
.about-container
{
    background-color: #F09A9D;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.about-content-container
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about
{
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.about-picture
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    flex: 1;
}

.about-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    flex: 2;
    padding-right: 30px;
    
}

/* .about-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
} */

.about img
{
    margin-top: 20px;
    width: 50%;
}

.about p
{
    text-align: left;
    margin-top: 10px;
}


/* RECENTS */
.recents-container
{
    background-color: #5995DA;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.recents
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 20px;
}

.recents-title
{
    padding-bottom: 20px;
}

.recents-grid
{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 20px;
}



.recents-item
{
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

.recents-item a
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.recents-link
{
    padding-bottom: 20px;
}

.recents img
{
    width: 100%;
}

/* QUOTE */
.quote-container
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
}

.quote
{
    display: flex;
    justify-content: center;
    text-align: center;
}


/* MAP */
.map-container
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    /* padding-top: 20px; */
    /* padding-bottom: 20px;    */
}

.map
{
    width: 100%;
}

.map img
{
    width: 100%;
    height: auto;
    vertical-align: top;
}


/* FOOTER */
.footer-container
{
    background-color: rgb(170, 170,  170);

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 21px;
}

/* .footer
{

} */

/* .footer-item
{
    
} */


/* MEDIA QUERIES */

/* Mobile Styles */
/* When the width of the screen is 400px or less, set colour to red */
@media only screen and (max-width: 400px) 
{
    body 
    {
      /* background-color: #F09A9D; Red */
      background-image: url('images/cat.jpg');
      background-attachment: fixed;
      background-position: center;
      background-size: 100%;
    }

    .header-container
    {
        display: none;
    }

    .map-container
    {
        display: none;
    }
}

/* Tablet Styles */
/* When the width of the screen is between 401 and 906px, set colour to yellow */
@media only screen and (min-width: 401px) and (max-width: 960px) 
{
    /* BODY */
    body 
    {
        background-image: url('images/cat.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
    }

    /* HEADER */
    .mobile-header-container
    {
        display: none;
    }

    /* MENU */
    .mobile-menu-container
    {
        display: none;
    }

    /* ABOUT */
    .about-content-container
    {
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
    }
/* 
    .about-text
    {
        flex: 2;
        padding-right: 10px;
    }

    .about-picture
    {
        flex: 1;
    } */



    /* RECENTS */
    .recents
    {
        width: 100%;
    }

    .recents-grid
    {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding-right: 10px;
        padding-left : 10px;
    }

    .recents-item
    {
        display: flex;
        width: 33%;
        justify-content: center;
        height: auto;
        /* padding-bottom: 30px; */
        
    }

    .recents-item a
    {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .recents-item a img
    {
        width: 95%;
        height: 95%;
    }

}

/* Desktop Styles */
/* When the width of the screen is greater than 961px, set colour to blue */
@media only screen and (min-width: 961px) 
{
    /* BODY */
    body 
    {
        background-image: url('images/cat.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* HEADER */
    .mobile-header-container
    {
        display: none;
    }

    /* MENU */
    .mobile-menu-container
    {
        display: none;
    }

    /* ABOUT */
    .about
    {
        width: 1000px;
    }

    .about-content-container
    {
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
    }

    /* .about-text
    {
        flex: 2;
        padding-right: 10px;
    }

    .about-picture
    {
        flex: 1;
    } */



    /* RECENTS */
    .recents
    {
        /* width: 1000px; */
    }

    .recents-grid
    {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding-right: 10px;
        padding-left : 10px;
    }

    .recents-item
    {
        display: flex;
        width: 33%;
        justify-content: center;
        height: auto;
        /* padding-bottom: 30px; */
        
    }

    .recents-item a
    {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .recents-item a img
    {
        width: 95%;
        height: 95%;
    }

    /* QUOTE */
    .quote
    {
        width: 1000px;
    }
}