/* Set everything to 0 margin, 0 padding, and use border-boxes for box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Mobile Styles */
/* When the width of the screen is 400px or less, set colour to red */
@media only screen and (max-width: 400px) 
{
    body 
    {
      background-color: #F09A9D; /* Red */
    }
}

/* Tablet Styles */
/* When the width of the screen is between 401 and 906px, set colour to yellow */
@media only screen and (min-width: 401px) and (max-width: 960px) 
{
    body 
    {
        background-color: #F5CF8E; /* Yellow */
    }
}

/* Desktop Styles */
/* When the width of the screen is greater than 961px, set colour to blue */
@media only screen and (min-width: 961px) 
{
    body 
    {
        background-color: #B2D6FF; /* Blue */
    }
}